body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    border-collapse: separate;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /*Alinhamento horizontal*/
    vertical-align: middle; /*Alinhamento vertical*/
}
